**/.DS_Store

**/.env

tests/certificates/

certificates/CA/
certificates/test/

*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

/vendor/

node_modules/
.tmp/

*.log

.vscode/
.idea/

dht-14

test_results/
generate_ca
certificates/

*.html

